@import url("https://fonts.googleapis.com/css?family=Roboto");
/* w3c */
@-webkit-keyframes notif {
  49.999% {
    background: #222;
  }
  50% {
    background: yellow;
  }
  99.999% {
    background: yellow;
  }
  100% {
    background: #222;
  }
}
@keyframes notif {
  49.999% {
    background: #222;
  }
  50% {
    background: yellow;
  }
  99.999% {
    background: yellow;
  }
  100% {
    background: #222;
  }
}
@-webkit-keyframes screenpos {
  0% {
    /* aan op plek */
    top: 50%;
    left: 50%;
    color: white;
  }
  12% {
    /* start fade out, 12% */
    top: 50%;
    left: 50%;
    color: white;
  }
  17% {
    /* total fade out, 5% */
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0);
  }
  18% {
    /* new spot, faded out, 1% */
    top: 40%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  23% {
    /* fade in new spot, 5% */
    top: 40%;
    left: 30%;
    color: white;
  }
  35% {
    /* new spot stay, 12% */
    top: 40%;
    left: 30%;
    color: white;
  }
  40% {
    top: 40%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  41% {
    top: 70%;
    left: 60%;
    color: rgba(255, 255, 255, 0);
  }
  46% {
    top: 70%;
    left: 60%;
    color: white;
  }
  58% {
    top: 70%;
    left: 60%;
    color: white;
  }
  63% {
    top: 70%;
    left: 60%;
    color: rgba(255, 255, 255, 0);
  }
  64% {
    top: 80%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  69% {
    top: 80%;
    left: 30%;
    color: white;
  }
  81% {
    top: 80%;
    left: 30%;
    color: white;
  }
  86% {
    top: 80%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  87% {
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0);
  }
  92% {
    top: 50%;
    left: 50%;
    color: white;
  }
  100% {
    top: 50%;
    left: 50%;
    color: white;
  }
}
@keyframes screenpos {
  0% {
    /* aan op plek */
    top: 50%;
    left: 50%;
    color: white;
  }
  12% {
    /* start fade out, 12% */
    top: 50%;
    left: 50%;
    color: white;
  }
  17% {
    /* total fade out, 5% */
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0);
  }
  18% {
    /* new spot, faded out, 1% */
    top: 40%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  23% {
    /* fade in new spot, 5% */
    top: 40%;
    left: 30%;
    color: white;
  }
  35% {
    /* new spot stay, 12% */
    top: 40%;
    left: 30%;
    color: white;
  }
  40% {
    top: 40%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  41% {
    top: 70%;
    left: 60%;
    color: rgba(255, 255, 255, 0);
  }
  46% {
    top: 70%;
    left: 60%;
    color: white;
  }
  58% {
    top: 70%;
    left: 60%;
    color: white;
  }
  63% {
    top: 70%;
    left: 60%;
    color: rgba(255, 255, 255, 0);
  }
  64% {
    top: 80%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  69% {
    top: 80%;
    left: 30%;
    color: white;
  }
  81% {
    top: 80%;
    left: 30%;
    color: white;
  }
  86% {
    top: 80%;
    left: 30%;
    color: rgba(255, 255, 255, 0);
  }
  87% {
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0);
  }
  92% {
    top: 50%;
    left: 50%;
    color: white;
  }
  100% {
    top: 50%;
    left: 50%;
    color: white;
  }
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(top left, #2784b6 0%, #ff8b8b 100%);
  background-image: linear-gradient(to bottom right, #2784b6 0%, #ff8b8b 100%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: auto;
  /* Whole Phone */
}
.container .body {
  height: 500px;
  width: 250px;
  border-style: solid;
  border-radius: 30px;
  border-color: grey;
  background-color: #222;
  overflow: hidden;
  box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.75);
  /* Top Bar */
  /* Screen */
  /* Bottom */
}
.container .body .top {
  width: 200px;
  height: 50px;
  margin: auto;
  /* Notification Light */
  /* Proximity Sensor */
  /* Speakers */
  /* Camera */
}
.container .body .top .notification {
  position: absolute;
  top: 4%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  left: 45px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-animation: notif 3s infinite;
          animation: notif 3s infinite;
}
.container .body .top .proximity-sensor {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 4%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #666;
}
.container .body .top .proximity-sensor.p1 {
  left: 25%;
}
.container .body .top .proximity-sensor.p2 {
  left: 30%;
}
.container .body .top .speakers {
  position: absolute;
  left: 50%;
  top: 4%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #555;
  padding-left: 2px;
}
.container .body .top .speakers .texture {
  float: left;
  background-color: black;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 2px;
}
.container .body .top .camera {
  position: absolute;
  right: 20%;
  top: 4%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: black;
}
.container .body .top .camera .camera-inner {
  position: absolute;
  background-color: grey;
  width: 10px;
  height: 10px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}
.container .body .top .camera .camera-inner .camera-inner-inner {
  position: absolute;
  background-color: black;
  width: 8px;
  height: 8px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
}
.container .body .top .logo {
  text-align: center;
}
.container .body .top .text {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 38px;
  width: 80px;
}
.container .body .screen {
  position: absolute;
  top: 51%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  margin: auto;
  height: 405px;
  width: 238px;
  background: -webkit-linear-gradient(346deg, black 0%, rgba(0, 0, 0, 0.96) 50%, rgba(3, 3, 3, 0.96) 51%, rgba(1, 2, 3, 0.95) 100%);
  background: linear-gradient(104deg, black 0%, rgba(0, 0, 0, 0.96) 50%, rgba(3, 3, 3, 0.96) 51%, rgba(1, 2, 3, 0.95) 100%);
  background-color: #111;
  /* Volume Buttons */
  /* Lockbutton */
}
.container .body .screen .author {
  position: absolute;
  -webkit-animation: screenpos 40s infinite;
          animation: screenpos 40s infinite;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: inline-block;
}
.container .body .screen .author .name, .container .body .screen .author .year, .container .body .screen .author .battery {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.container .body .screen .author .name {
  font-size: 1em;
}
.container .body .screen .author .year, .container .body .screen .author .battery {
  font-size: 0.7em;
}
.container .body .screen .volume {
  position: absolute;
  width: 5px;
  height: 35px;
  border-radius: 15px;
  background-color: grey;
}
.container .body .screen .volume.up {
  top: 30px;
  left: -12px;
}
.container .body .screen .volume.down {
  top: 80px;
  left: -12px;
}
.container .body .screen .lockbutton {
  position: absolute;
  top: 100px;
  left: 245px;
  width: 5px;
  height: 35px;
  border-radius: 15px;
  background-color: grey;
}
.container .body .bottom {
  position: absolute;
  top: 460px;
  left: 10px;
  width: 235px;
  height: 40px;
  /* Left Icon */
  /* Homebutton */
  /* Right Icon */
}
.container .body .bottom .left-icon {
  position: absolute;
  top: 17px;
  left: 23px;
  background-color: #222;
  border: solid 2px #fff;
  border-radius: 2px;
  width: 16px;
  height: 9px;
}
.container .body .bottom .left-icon2 {
  position: absolute;
  top: 14px;
  left: 26px;
  border: solid 2px #fff;
  border-radius: 2px;
  width: 16px;
  height: 9px;
}
.container .body .bottom .homebutton {
  position: absolute;
  left: 90px;
  top: 10px;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: #111;
  border: solid 2px #333;
}
.container .body .bottom .right-icon {
  position: absolute;
  top: 15px;
  left: 190px;
  background-color: white;
  border-radius: 8px;
  width: 28px;
  height: 14px;
}
.container .body .bottom .right-icon-front {
  position: absolute;
  top: 18px;
  left: 185px;
  background-color: #222;
  border-radius: 8px;
  width: 30px;
  height: 8px;
}
.container .body .bottom .square-front {
  position: absolute;
  top: 20px;
  left: 183px;
  background-color: #222;
  width: 11px;
  height: 11px;
}
.container .body .bottom .triangle {
  position: absolute;
  top: 12px;
  left: 190px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid white;
  border-bottom: 5px solid transparent;
}
